* {
	margin: 0;
	padding: 0;
}

.navbar-brand {
	padding-bottom: 0;
}

.container {
	padding-top: 15px;
}

.navbar-title {
	font-size: 1.2rem;
}

.nav a {
	color: white;
}

.alert {
	display: none;
}

.alert-danger {
	font-weight: 700;
}

#border_yellow {
	outline: none;
}

.nav-item:hover {
	background-color: white;
	border-radius: 10px;
}

#blue-hover:hover {
	color: #017BFF !important;
}

#red-hover:hover {
	color: #DC3545 !important;
}

#green-hover:hover{
	color: #28A745 !important;
}

#submit-button button{
	display: none;
}

.btn_danger {
	visibility: hidden;
}

.confirm-txt {
	display: none;
}

.error {
	color: red;
}

#cakeform {
    padding-left: 50px;
    padding-right: 50px;
}

/* body {
	max-width: 1200px;
	display: block;
	margin: 0 auto;
}

input {
	width: 75%;
	display: block;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 5px;
}

label {
	float: left;
	width: 10%;
} */